---
import type { Blog } from '../../../types/BlogType';
import BlogItem from './BlogItem.astro';

const { blogs } = Astro.props;

const sortedBlogs = [...blogs].sort(
  (a: Blog, b: Blog) => b.data.datetime.getTime() - a.data.datetime.getTime()
);
---

<section class="py-12 bg-background">
  <div class="container mx-auto px-4 max-w-6xl">
    <h1 class="text-center text-3xl mb-10">Publicações recentes</h1>
    <div class="space-y-6">
      {sortedBlogs.map((blog: Blog, index: number) => (
        <BlogItem blog={blog} isFirst={index === 0} />
      ))}
    </div>
  </div>
</section>
